practicals/res/models/knight.obj
practicals/res/models/icosphere.obj
practicals/res/models/ff4njneuy134-mfrc_two-handed-sword/Two handed sword/xxxxx2.jpg
practicals/res/models/ff4njneuy134-mfrc_two-handed-sword/Two handed sword/xxxxx.jpg
practicals/res/models/ff4njneuy134-mfrc_two-handed-sword/Two handed sword/pedang.max
practicals/res/models/ff4njneuy134-mfrc_two-handed-sword/Two handed sword/Pic.jpg
practicals/res/models/ff4njneuy134-mfrc_two-handed-sword/Two handed sword/Grip.jpg
practicals/res/models/ff4njneuy134-mfrc_two-handed-sword/Two handed sword/Grip B.jpg
practicals/res/models/claymore.obj
practicals/res/models/cgq33l0v8xkw-longsword/ls.max
practicals/res/models/cgq33l0v8xkw-longsword/longsword.obj
practicals/res/models/cgq33l0v8xkw-longsword/longsword.mtl
practicals/res/models/Skull.3ds
practicals/res/models/Crow/CROW.TIF
practicals/res/models/Crow/CROW.OBJ
practicals/res/models/Crow/CROW.MTL
practicals/res/models/Crow/CROW.JPG
practicals/res/models/Crow/CROW.DXF
practicals/res/models/Crow/CROW.3DS
practicals/res/models/Claymore_Sword_v1_L3.123c26ba7306-e906-44c0-9e4c-145c07c8fde8/13032_Claymore_Sword_v1_l3.mtl
practicals/res/models/the_bastard_sword.obj
practicals/res/models/teapot.obj
practicals/res/models/suzanne.3ds
practicals/res/models/odnr6e7vf0n4-BastardSword/the_bastard_sword.mtl
practicals/res/models/odnr6e7vf0n4-BastardSword/the_bastard_sword.FBX
practicals/res/models/odnr6e7vf0n4-BastardSword/the_bastard_sword
practicals/res/models/odnr6e7vf0n4-BastardSword/Map__3_Raytrace.tga
practicals/res/models/moomin/moomin.bin
practicals/res/models/moomin.gltf
practicals/res/models/knight/knight.c4d
practicals/res/models/knight/gen.face.jpg
practicals/res/models/Crow/CROW.LWO
